@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background-color: black;
    color: white;
}
.container
{
    border: 2px solid white;
    padding:  10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container>p
{
    padding: 1rem 2rem;
}
ul
{
    display: flex;
    justify-content: space-around;
}
.link
{
    list-style: none;
    text-decoration: none;
    margin: 10px;
}
h1
{
    text-align: center;
}
.btn
{
    border: 2px solid white;
    padding: 10px 15px;
    background-color: gray;
    border-radius: 10px;
}